<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="icon" href="../static/images/logo.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/fonts.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
        <title>BioisosterismReplacement</title>
    </head>
    <body>
        <div class="page animated" style="animation-duration: 500ms;">
            <!-- header -->
            <div id="home">
                <header class="section page-header">
                    <div class="rd-navbar-wrap" style="height: 106px;">
                        <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                            
                            <div class="rd-navbar-main-outer">
                                
                                <div class="rd-navbar-main">
                                    <div class="rd-navbar-panel">
                                        
                                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                        <div class="rd-navbar-brand">
                                            <a class="brand" href="home"><img src="../static/images/logo.png" alt="" width="50" height="50"/></a>
                                        </div>
                                    </div>
                                    <div class="rd-navbar-main-element">
                                        <div class="rd-navbar-nav-wrap">
                                            <ul class="rd-navbar-nav">
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="home">Home</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="services">Services</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="tutorial">Tutorial</a></li>
                                                <li class="rd-nav-item active"><a class="rd-nav-link" href="contacts">Contacts</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="login">Login</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="logout">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
            </div>

            <!-- address and mail -->
            <section class="section section-sm bg-default">
                <div class="container">
                    <div class="row row-30 justify-content-center">
                        <div class="col-sm-8 col-md-6 col-lg-4">
                            <article class="box-contacts">
                                <div class="box-contacts-body">
                                    <div class="box-contacts-icon">
                                        <img src="../static/images/developer.svg" alt="" width="50" height="50"/>
                                    </div>
                                    <div class="box-contacts-decor"></div>
                                    <p class="box-contacts-link"><a href="">Shaoxin Huang, Chinese academy of Science</a></p>
                                </div>
                            </article>
                        </div>

                        <div class="col-sm-8 col-md-6 col-lg-4">
                            <article class="box-contacts">
                                <div class="box-contacts-body">
                                    <div class="box-contacts-icon">
                                        <img src="../static/images/address.svg" alt="" width="50" height="50"/>
                                    </div>
                                    <div class="box-contacts-decor"></div>
                                    <p class="box-contacts-link"><a href="#">1068 Xueyuan Avenue, Nanshan District, Shenzhen</a></p>
                                </div>
                            </article>
                        </div>

                        <div class="col-sm-8 col-md-6 col-lg-4">
                            <article class="box-contacts">
                                <div class="box-contacts-body">
                                    <div class="box-contacts-icon">
                                        <img src="../static/images/email.svg" alt="" width="50" height="50"/>
                                    </div>
                                    <div class="box-contacts-decor"></div>
                                    <p class="box-contacts-link"><a href="mailto:#">sx.huang@siat.ac.cn</a></p>
                                    <p class="box-contacts-link"><a href="mailto:#">sg.yuan@siat.ac.cn</a></p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Get in touch -->
            <section class="section section-sm section-last bg-default text-left">
                <!-- <form method="POST" action="/contacts"> -->
                <div class="container">
                    <article class="title-classic">
                        <div class="title-classic-title">
                            <h3>Get in touch</h3>
                        </div>
                        <div class="title-classic-text">
                            <p>If you have any questions, just fill in the contact form, and we will answer you shortly.</p>
                        </div>
                    </article>
                    <form class="rd-form rd-form-variant-2 rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="/contacts" novalidate="novalidate">
                        <div class="row row-14 gutters-14">
                            <div class="col-md-4">
                                <div class="form-wrap has-error">
                                    <input class="form-input form-control-has-validation" placeholder="Your Name" id="contact-your-name-2" type="text" name="name" data-constraints="@Required">
                                    <span class="form-validation"></span>
                                    <!-- <label class="form-label rd-input-label" for="contact-your-name-2">Your Name</label> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <input class="form-input form-control-has-validation" placeholder="E-mail" id="contact-email-2" type="email" name="email" data-constraints="@Email @Required">
                                    <span class="form-validation"></span>
                                    <!-- <label class="form-label rd-input-label" for="contact-email-2">E-mail</label> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <input class="form-input form-control-has-validation" placeholder="Phone" id="contact-phone-2" type="text" name="phone" data-constraints="@Numeric">
                                    <span class="form-validation"></span>
                                    <!-- <label class="form-label rd-input-label" for="contact-phone-2">Phone</label> -->
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-wrap">
                                    <!-- <label class="form-label rd-input-label" for="contact-message-2">Message</label> -->
                                    <textarea class="form-input textarea-lg form-control-has-validation form-control-last-child" placeholder="Message" id="contact-message-2" name="message" data-constraints="@Required"></textarea>
                                    <span class="form-validation"></span>
                                </div>
                            </div>
                        </div>
                        <button class="button button-primary button-pipaluk" type="submit">Send Message</button>
                    </form>
                </div>

                <!-- </form> -->
            </section>

        </div>
    </body>
</html>