<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="icon" href="../static/images/logo.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/fonts.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
        <title>BioisosterismReplacement</title>
    </head>
    <body>
        <div class="page animated" style="animation-duration: 500ms;">
            <div id="home">
                <header class="section page-header">
                    <div class="rd-navbar-wrap" style="height: 106px;">
                        <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                            
                            <div class="rd-navbar-main-outer">
                                
                                <div class="rd-navbar-main">
                                    <div class="rd-navbar-panel">
                                        
                                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                        <div class="rd-navbar-brand">
                                            <a class="brand" href="home"><img src="../static/images/logo.png" alt="" width="50" height="50"/></a>
                                        </div>
                                    </div>
                                    <div class="rd-navbar-main-element">
                                        <div class="rd-navbar-nav-wrap">
                                            <ul class="rd-navbar-nav">
                                                <li class="rd-nav-item active"><a class="rd-nav-link" href="home">Home</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="services">Services</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="tutorial">Tutorial</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="contacts">Contacts</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="login">Login</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="logout">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
            </div>

            <!-- Home -->
            <section class="section section-sm section-first bg-default text-center">
                <div class="container">
                    <div class="row row-30 justify-content-center">
                        <div class="col-md-7 col-lg-5 col-xl-6 text-lg-left wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <img src="../static/images/logo_short.png" alt="" width="415" height="592">
                        </div>
                        <div class="col-lg-7 col-xl-6">
                            <div class="row row-30">
                                <!-- <div class="col-sm-6 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                    <article class="box-icon-modern box-icon-modern-custom">
                                        <div>
                                            <h3 class="box-icon-modern-big-title">What We Offer</h3>
                                            <div class="box-icon-modern-decor"></div>
                                            <a class="button button-primary button-ujarak" href="#">View All Services</a>
                                        </div>
                                    </article>
                                </div>

                                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                                    <article class="box-icon-modern box-icon-modern-2">
                                        <div class="box-icon-modern-icon linearicons-phone-in-out"></div>
                                        <h5 class="box-icon-modern-title"><a href="#">CORPORATE<br>SOLUTIONS</a></h5>
                                        <div class="box-icon-modern-decor"></div>
                                        <p class="box-icon-modern-text">Need specific software for your company? We are ready to develop it!</p>
                                    </article>
                                </div> -->

                                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                                    <article class="box-icon-modern box-icon-modern-2">
                                        <div class="box-icon-modern-icon linearicons-headset"></div>
                                        <h5 class="box-icon-modern-title"><a href="#">CALL CENTER<br>SOLUTIONS</a></h5>
                                        <div class="box-icon-modern-decor"></div>
                                        <p class="box-icon-modern-text">Our experts provide custom products of any complexity for call centers.</p>
                                    </article>
                                </div>

                                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                                    <article class="box-icon-modern box-icon-modern-2">
                                        <div class="box-icon-modern-icon linearicons-outbox"></div>
                                        <h5 class="box-icon-modern-title"><a href="#">CLOUD<br>DEVELOPMENT</a></h5>
                                        <div class="box-icon-modern-decor"></div>
                                        <p class="box-icon-modern-text">We can also offer you reliable cloud development solutions.</p>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>