<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="icon" href="../static/images/logo.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/fonts.css">
        <link rel="stylesheet" href="../static/css/style.css">

        <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
        <title>BioisosterismReplacement</title>
    </head>
    <body>
        <div class="page animated" style="animation-duration: 500ms;">
            <div id="home">
                <header class="section page-header">
                    <div class="rd-navbar-wrap" style="height: 106px;">
                        <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                            
                            <div class="rd-navbar-main-outer">
                                
                                <div class="rd-navbar-main">
                                    <div class="rd-navbar-panel">
                                        
                                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                        <div class="rd-navbar-brand">
                                            <a class="brand" href="home"><img src="../static/images/logo.png" alt="" width="50" height="50"/></a>
                                        </div>
                                    </div>
                                    <div class="rd-navbar-main-element">
                                        <div class="rd-navbar-nav-wrap">
                                            <ul class="rd-navbar-nav">
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="home">Home</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="services">Services</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="tutorial">Tutorial</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="contacts">Contacts</a></li>
                                                <li class="rd-nav-item active"><a class="rd-nav-link" href="login">Login</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
            </div>

            <section class="section section-sm section-last bg-default text-left">
                <!-- <form method="POST" action="/contacts"> -->
                <div class="container">
                    <article class="title-classic">
                        <div class="title-classic-title">
                            <h4 style="color: #FF0000;">{{result|safe}}</h4>
                            <h3>Welcome new users</h3>
                        </div>
                    </article>
                    <form name="form" class="rd-form rd-form-variant-2 rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="/register">
                        <div class="row row-14 gutters-14">
                            <div class="col-md-8">
                                <div class="form-wrap has-error">
                                    <input class="form-input form-control-has-validation" placeholder="Your Name" id="contact-your-name-2" type="text" name="name" data-constraints="@Required">
                                    <span class="form-validation"></span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-wrap">
                                    <input class="form-input form-control-has-validation" placeholder="E-mail" id="contact-email" type="email" name="email" data-constraints="@Required">
                                    <span class="form-validation"></span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-wrap has-error">
                                    <input class="form-input form-control-has-validation" placeholder="Password, length should greater than 8." id="contact-your-name" type="password" name="password" data-constraints="@Required">
                                    <span class="form-validation"></span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-wrap">
                                    <input class="form-input form-control-has-validation" placeholder="Confirm Password" id="contact-email-2" type="password" name="password2" data-constraints="@Required">
                                    <span class="form-validation"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-14 gutters-14">
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <button class="button button-primary button-pipaluk" type="button" onclick="checkForm()">Register</button>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <p>Already have an account? <a href="login">Login here</a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- </form> -->
            </section>
        </div>
    </body>
    <script>
        function checkForm(){
            let _name = document.forms["form"]["name"].value;
            let _email = document.forms["form"]["email"].value;
            let _password = document.forms["form"]["password"].value;
            let _password2 = document.forms["form"]["password2"].value;
            if (_name == ''){
                alert('The name input cannot be empty.');
            } else if (_email == ''){
                alert('The email input cannot be empty.');
            } else if (_password == ''){
                alert('The password input cannot be empty.');
            } else if (_password2 == ''){
                alert('The password2 input cannot be empty.');
            } else if (_password != _password2){
                alert('It seems that the passwords you entered twice are different.');
            } else if (_password.length < 8){
                alert("The password length cannot be shorter than 8.");
            } else {
                document.form.submit();
            }
        }
    </script>
</html>