<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="icon" href="../static/images/logo.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/fonts.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
        <title>BioisosterismReplacement</title>
    </head>
    <body>
        <div class="page animated" style="animation-duration: 500ms;">
            <div id="home">
                <header class="section page-header">
                    <div class="rd-navbar-wrap" style="height: 106px;">
                        <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                            
                            <div class="rd-navbar-main-outer">
                                
                                <div class="rd-navbar-main">
                                    <div class="rd-navbar-panel">
                                        
                                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                        <div class="rd-navbar-brand">
                                            <a class="brand" href="home"><img src="../static/images/logo.png" alt="" width="50" height="50"/></a>
                                        </div>
                                    </div>
                                    <div class="rd-navbar-main-element">
                                        <div class="rd-navbar-nav-wrap">
                                            <ul class="rd-navbar-nav">
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="home">Home</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="services">Services</a></li>
                                                <li class="rd-nav-item active"><a class="rd-nav-link" href="tutorial">Tutorial</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="contacts">Contacts</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="login">Login</a></li>
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="logout">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
            </div>

            <section class="section section-fluid bg-default">
                <div class="parallax-container" data-parallax-img="../static/images/parallax-1.jpg">
                    <div class="material-parallax parallax">
                        <img src="../static/images/parallax-1.jpg" alt="" style="display: block; transform: translate3d(-50%, 94px, 0px);">
                    </div>
                    <div class="parallax-content section-xl context-dark bg-overlay-68 bg-mobile-overlay">
                        <div class="container">
                            <div class="row row-30 justify-content-end text-right">
                                <div class="col-sm-7">
                                    <h3 class="wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">Let's Develop Your Next Great App!</h3>
                                    <p>Do you need a unique software solution for your company? We know how to help you!</p>
                                    <div class="group-sm group-middle group justify-content-end">
                                        <a class="button button-primary button-ujarak" href="contacts" data-toggle="modal">Get in Touch</a>
                                        <a class="button button-white-outline button-ujarak" href="services">Try</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Data -->
            <section class="section section-sm bg-default">
                <div class="container">
                    <div class="row row-30 row-xl-24 justify-content-center align-items-center align-items-lg-start text-left">
                        <div class="col-md-6 col-lg-5 col-xl-4 text-center">
                            <a class="text-img" href="#">
                                <div id="particles-js">
                                    <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="360" height="360"></canvas>
                                </div>
                                <span class="counter animated">10</span>
                            </a>
                        </div>
                        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                            <div class="text-width-extra-small offset-top-lg-24 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h3 class="title-decoration-lines-left">Years of Experience</h3>
                                <p class="text-gray-500">RatherApp is a team of highly experienced app designers and developers creating unique software for you.</p>
                                <a class="button button-secondary button-pipaluk" href="contacts">Get in touch</a>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 wow fadeInRight" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                            <div class="row justify-content-center border-2-column offset-top-xl-26">
                                <div class="col-9 col-sm-6">
                                    <div class="counter-amy">
                                        <div class="counter-amy-number">
                                            <span class="counter animated">2</span>
                                            <span class="symbol">k</span>
                                        </div>
                                        <h6 class="counter-amy-title">apps developed</h6>
                                    </div>
                                </div>
                                <div class="col-9 col-sm-6">
                                    <div class="counter-amy">
                                        <div class="counter-amy-number">
                                            <span class="counter animated">40</span>
                                        </div>
                                        <h6 class="counter-amy-title">Consultants</h6>
                                    </div>
                                </div>
                                <div class="col-9 col-sm-6">
                                    <div class="counter-amy">
                                        <div class="counter-amy-number">
                                            <span class="counter animated">12</span>
                                        </div>
                                        <h6 class="counter-amy-title">Awards won</h6>
                                    </div>
                                </div>
                                <div class="col-9 col-sm-6">
                                    <div class="counter-amy">
                                        <div class="counter-amy-number">
                                            <span class="counter animated">160</span>
                                        </div>
                                    </div>
                                    <h6 class="counter-amy-title">Employees</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-12 align-self-center">
                        <div class="row row-30 justify-content-center">
                            <div class="col-sm-6 col-md-5 col-lg-6 col-xl-3 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                <a class="clients-classic" href="#">
                                    <img src="../static/images/clients-9-270x117.png" alt="" width="270" height="117">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-5 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                <a class="clients-classic" href="#"><img src="../static/images/clients-10-270x117.png" alt="" width="270" height="117"></a>
                            </div>
                            <div class="col-sm-6 col-md-5 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                                <a class="clients-classic" href="#"><img src="../static/images/clients-3-270x117.png" alt="" width="270" height="117"></a>
                            </div>
                            <div class="col-sm-6 col-md-5 col-lg-6 col-xl-3 wow fadeInLeft" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                <a class="clients-classic" href="#"><img src="../static/images/clients-11-270x117.png" alt="" width="270" height="117"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>